/* Jenis-jenis properti filter: */
/* blur:(px)--->berfungsi untuk menambahkan efek filter */
/* brightnes:(%)--->Mengatur gelap atau terangnya sebuah gambar */
/* contrast:(%)---> sama seperti brightnes */
/* saturate:(%)---> Mengatur saturate dari sebuah gambar */
/* drop-sahow:(px)---> sama seperti box shadow,tetapi ini bisa
 diterapkan ke imgg dan juga text tanpa harus merubah properti ke box shadow dan juga text shadow */
/* invert;(%)---> Mengatur gambar seperti klip film */
/* grayscale:(%)---> Mengatur filter hitam putih pada gambar */

/* FUNGSI TRANSFOR */
/* Scale ---> Berfungsi untuk memperbesar atau memperkecil element */
/* Rotate ---> Berfungsi untuk memutar posisi elment */
/* Skew ---> Membuat condong atau miring pada elment */
/* Translate ---> Mengubah posisi element */

/* Menghapus margin dan padding dibody */
/* Letakkan kode ini di baris paling atas file CSS Anda */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur lebar,warna,jenis huruf, dan margin pada body */

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(20, 111, 144);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 95%;
  /* margin: 0; */
  /* padding: 0; */
  cursor: pointer;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}
/* Mengatur bagian Navbar */

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
  border-bottom: 1px solid rgb(106, 207, 250);
  background-color: rgb(20, 78, 121);
  position: fixed;
  width: 100%;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  z-index: 999;
}

/* Mengatur bagian logo */

.logo  {
  color: burlywood;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.navbar-nav a {
  text-decoration: none;
  /* margin:0 20px; */
  /* display: inline-block; */
  padding: 15px;
  color: whitesmoke;
}

/* Menambahkan pseducode pada menu Navigasi */
.navbar-nav a:hover {
    color:  rgb(245, 141, 5);
  
}

/* Mengatur Menu Side bar */

 #hamburger-menu{
  display:none;
  font-size: 25px;
}

/* Mengatur Gambar pada halaman utama */

.hero {
  height: 100vh;
  background-image: url(img/frontend.jpg);
  /* background-repeat: no-repeat; */
  display: flex;
  position: relative;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0px;
  background: linear-gradient(
    0deg,
    rgba(20, 111, 144, 1) 3%,
    rgba(20, 111, 144, 0) 75%
  )
}

.hero .item h1{
  font-size: 5rem;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  /* font-size: 60px; */
  padding-top: 10px;
  /* margin-top: 10px; */
  padding-left: 100px;
  color: aliceblue;
  margin-left: 30px;
  text-shadow: -5px 5px 2px black;
  transition: 3s;
}

/* Mengatur kondisi pada bagian hero atau isi conten di halaman utama */

 /* Mengatur kondisi pada bagian hero atau isi conten di halaman utama */  

 .hero .item h1:hover {
    transform:rotate(180deg) rotateX(180deg) rotateY(180deg) scaleY(1) translate(50px, -50px);
    color:  rgb(245, 141, 5);
    cursor: pointer;
    transition: 3s;
}

.hero .item p {
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  /* font-family: "Libertinus Keyboard", system-ui; */
  font-weight: 400;
  font-style: normal;
  position: relative;
  /* z-index: 10; */
  /* padding-left: 30px; */
  /* margin-left: 90px; */
  left: 100px;
  /* filter: grayscale(100%); */
  transition: 0.3s;
}

.hero .item p:hover {
  font-size: 15px;
  color: rgb(203, 119, 8);
  filter: grayscale(0%);
  transition: 0.3s;
}


/* Mengatur subtitle pada halman awal */
.tentang {
  /* flex-direction: column; */
  padding: 20px;
  /* gap: 30px; */
}

.main {
  /* flex: 1; */
  padding: 50px;
}

.main h3 {
  /* text-align: justify; */
  /* display:inline-block; */
  padding: 10px 0px;
  padding-top: 50px;
  /* margin-left: 2%; */
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: bold;
  font-variant: inherit;
  font-weight: bold;
  color: azure;
}
.main p {
  width: 600px;
  /* width: 100%; */
  float: left;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
  color: blanchedalmond;
  /* position: absolute; */
  opacity: 80%;
}
/* Membuat sidebar pada halman main */
 /* .main .sidebar { 
  /* flex: 2; */
  /* float: right; */
  /* width: 450px; */
  /* float: left; */
  /* padding: 10px; */
  /* margin-left: 10px; */
  /* margin-bottom: 100%; */
/* }  */ 
.sidebar {
  /* flex: 1; */
  /* width: 80%; */
  /* height: auto; */
  /* margin: 50px; */
  float: right;
  /* margin-right: -20px; */
  /* right: 50px; */
  /* margin-bottom: 50%; */
  /* margin-bottom: 20%; */
  /* display: inline-block; */
  /* width: 100%; */
  margin-right: 5%;
  position:relative;
  /* justify-content: space-between; */
  margin: 20px 50px;
  padding-bottom: 10px;
  margin-bottom: 100px;
  /* padding-bottom: 50%; */
  /* padding: 50px; */
  /* top: 0; */
  /* bottom: 0; */
}
.sidebar h3 {
  /* flex: 1; */
  /* margin-top: 0; */
  text-align: center;
  bottom: 20px;
  /* margin-right: 50%; */
  /* padding-right: 50px; */
  padding:20px;
  padding-right: 100px;
  /* padding-bottom: 30px; */
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  color: burlywood;
}

/* Mengatur gambar pada bagian sidebar */

.sidebar img {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 180px;
  padding: 20px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  filter: blur(1.5px) grayscale(50%);
  /* float: left; */
  width: 100%;
  max-width: 250px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75),
    -5px -5px 2px rgba(0, 0, 255, 0.75);
  transition: 1.5s;

}

/* Memberikan efek hover pada bagian gambar dihalman sidebar */
.sidebar img:hover {
  filter: blur(0) grayscale(0);
  transform: scaleY(1.1) scaleX(1) rotate(180deg) rotateX(180deg) rotateY(180deg) skew(10deg);
}

/* Mengatur text atu paragraf dihalaman sidebar  */

.skill {
  color: aliceblue;
  padding: 10px 5px;
  text-align: center;
}

/* Mengatur list pada halman sidebar */
/* .sidebar ul li {
    line-height: 25px;
    color: aliceblue;
    font-weight: normal;
    color: antiquewhite;
    font-style: italic;
    opacity: 80%;
    margin-left: 30%;
    margin-top: 20px; */
/* } */

/* Mengatur isi dari halman project */
.project{
  /* display: ; */
  width:100%;
  padding: 10px 20%;
  /* gap: 50px; */
  /* grid-template-columns: 2fr; */
}

.project h3 {
  /* padding:10px 5%; */
  text-align: center;
  color: aliceblue;
  padding-bottom: 25px;
  /* bottom: 100px; */
}
/* ?\Mengatur pada halman project */
.project-container {
  color: black;
  padding: 20px;
  border: 1px solid rgb(19, 107, 208);
  background: rgb(187, 191, 195);
  border-radius: 10px;
  box-shadow: 0px 1px 3px;
}

.project-card {
  /* width: 50%; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:10px 10px;
  /* padding-left: 50px; */
  /* right: 50px; */
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid burlywood;
  border-radius: 10px;
  background-color: rgb(15, 97, 108);
  transition: 3ms;
  box-shadow: 1px 2px 3px;

}

.project-card a{
  text-decoration: none;
  color: blanchedalmond;
}

.project-card:hover{
  background-color: rgb(160, 156, 95);
  border: none;
  transition: 3ms;
  transform:scale(1) scaleY(1);
}

/* Mengatur halman Kontak */
.kontak {
  padding: 50px 20%;
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
  /* margin-bottom: 100px; */

}
/* Mengatur h3 pada halman kontak */
.kontak form{
  max-width: 400px;
  margin: auto;
}
.kontak form div {
  margin-bottom: 15px;
  text-align: left;
}


/* Mengatur lebar,padding,margin pada form inputnya */
.kontak input,
.kontak select,
.kontak textarea {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: aliceblue;
}
.kontak .check input{
  width:auto;
  transform: scale(1.5);
  padding:50px 100px;
  margin: 5px;
  /* margin-right:50px; */
  /* margin-left: 50px; */
  
}

/* Mengatur isi pada  element select */

.kontak select{
  font-size: 20px;
  font-weight: bold;
  color: brown;
}
/* Mengatur elemnt check Box  */

.kontak  div label{
  color: white;
  padding-bottom:5px;
}

/* Mengatur bagian pada element submit */
.submit {
  /* margin: 10px 600px; */
  width: 100%;
  /* height: 40px; */
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 1px 2px;
  border-radius: 10px;
  background-color: rgba(14, 8, 184, 0.42);
  color: antiquewhite;
  transition: 2s;
}
/* Menerapkan fungsi peseducode pada tombol/element submit */
.submit:hover {
  /* box-shadow: 10 10px 5px -3px; */
  background-color: rgb(5, 5, 85);
  /* margin-bottom: 20px; */
  /* transform:  rotateY(30deg); */
  /* position: relative; */
}

.kontak .container {
  border: 1px solid white;
  /* background-color:rgb(31, 121, 123); */
  border-radius: 5px;
}

.container h3{
  padding-top: 15px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
}


/* Mengatur bagian footer */
footer {
  /* max-height: 100vh;  */
  text-align: center;
  padding: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightseagreen;
  background-color: rgb(2, 27, 44);
}

/* Mengatur links media sosial */
 footer .medsos {
  padding: 1rem 0;
  transform: scale(1.5);
  font-size: medium;
}
footer .medsos a {
  color: aliceblue;
  padding: 5px 10px;
  /* transform: scale(); */
  
}

footer .medsos a:hover{
  color: burlywood;
  
}

footer .links p {
  color: lightblue;
  font-style: italic;
  padding-bottom: 5px;
  padding-top: 5px;
}
footer .links a {
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  padding: 10px 10px;
  /* margin-top: 10px; */
  transition: 1s;
}

footer .links a:hover {
  color: burlywood;
  /* font-size: medium; */
  /* font-weight: 300; */
  /* background-color:whitesmoke; */
  /* border-radius: 5px; */
}
/* footer .links a:active { */
  /* font-style: italic; */
  /* font-size: 10px; */
  /* font-weight: 100; */
/* } */


/* Mengatur ukuran agar responsive dimedia queris yang berbeda */
/* Laptop*/
@media (max-width:1366px) {

  html{
    font-size: 75%;
  }
  
}

/* tablet */
@media(max-width:768px){
  html{
    font-size: 62.5%;
  }

   #hamburger-menu{
    display: block;
    color: aliceblue;
  }

  #hamburger-menu {
  color:burlywood;
  /* z-index: 1000; */
  }

  #hamburger-menu:hover{
    color: burlywood;
  }
.Navbar .navbar-nav {
  display: inline-block;
}

.main p {
  width: 100%;
  text-align: justify;
  /* flex: 0; */
  float: none;
  padding: 10px;
  font-size: 10px;
  line-height: normal;
  word-spacing: normal;
}
.hero {
  /* background-size: cover; */
  /* width: 100%; */
  height: 40vh;
  /* padding-top: 50%; */
  /* display:inheri; */
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-repeat: no-repeat; */

}

.hero .item h1{
  font-size: 2.5rem;
  padding-left: 0px;
  margin-left: 0;
}

.hero .item p {
  font-size: 10px;
  text-align: center;
  left: 0;
  /* margin-left: 0px; */
  /* margin-bottom: 0px; */
  font-weight: normal;
} 

.hero .item p:hover{
  font-size: 12px;
}

 
  .logo h1{
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
  }
   
       .Navbar .navbar-nav {
        position: absolute;
        top: 100%; /* Di bawah header */
        right: -80%; /*Sembunyikan menu*/
        background-color:whitesmoke;/* Warna latar */
        width: 25rem; /* Lebar menu */
        height: 100vh; /* Tinggi penuh */
        transition: 0.3s; /* Transisi saat menu muncul */
        /* opacity: 95%; */
    }

    /* Saat menu aktif */
    .Navbar .navbar-nav.active {
        right: 0%; /* Tampilkan menu */
    }

    /* Gaya tautan di menu */
    .Navbar .navbar-nav a {
        color: burlywood;  /* Warna teks */
        display: block; /* Tampilkan dalam blok */
        margin: 1.5rem; /* Jarak antar-tautan */
        padding: 0.5rem; /* Padding semua sisi */
        font-size: 2rem; /* Ukuran font */
        
    }
    .Navbar .navbar-nav a:hover{
      color: rgb(89, 39, 6);
    
    }
    .sidebar {
      /* justify-content: right; */
      /* position: relative; */
      /* align-items: center; */
      position:inherit;
      /* width: 100%; */
      /* float: right; */
      /* display: inline-block; */
      /* right: 0; */
      /* justify-content: center; */
      padding: 20px;
      margin-right: 0;
      padding-right: 80px;
      padding-bottom: 100px;
      margin-bottom: 20px;
      /* margin: 0; */

    }

    .sidebar h3{
      font-size: 15px;
      padding-right: 50px;
      padding-left: 30px;
      font-weight: normal;
      /* text-align: left; */
    }

    .sidebar img{
      /* flex: 1; */
      /* float: none; */
      width:100%;
      max-width: 150px;
      padding: 10px 10px;
      /* left: 200px; */
      border-top-right-radius: 5%;
      border-top-left-radius: 5%;
    }

    .skill{
      /* color: rgb(190, 46, 46); */
      padding: 10px 0px;
      color: aliceblue;
      font-size: 9px;
      text-align: center;
    }

    .main h3 {
      padding-bottom: 20px;
      text-align: center;
      font-weight: normal;
      font-size: 15px;
      margin: 0;
      
    }

    .project{
      padding: 50px 5%;
      text-align: center;
    }

    .project-container {
      display: grid;
      grid-template-columns: 1fr;
      /* font-size: 8px; */
      /* font-weight: normal; */
      gap: 10px;
      /* width: auto; */

    }

    .project-card{
      font-weight: normal;
      font-size: 10px;
      border: 1px solid burlywood;
      border-radius: 5px;
      text-decoration: none;
      background-color: rgb(15, 97, 108);
    }

    .project-card a{
      color: blanchedalmond;
    }

    .kontak form{
      max-width: 100%;
      margin: 15px;
      font-size: 10px;
    }

    .kontak input {
      height:20px;
      font-size: 10px;
      padding-bottom: 20px;

    }

    .kontak{
      padding-top: 150px;
      padding: 50px 10%;
    }

    .kontak .container h3{
      font-size: 20px;
      font-weight: 100;
      padding: 50px 50px;
    }

    .kontak input,
    .kontak select,
    .kontak textarea{
      /* width: 100%; */
      padding: 5px;
      font-size: 10px;
      border-radius: none;
    }

    .kontak .check input{
      /* width: auto; */
      transform: scale(0.8);
      margin-left: 2px;
      /* padding: 0; */
    }

    .submit{
      width: 65%;
      padding: 5px;
    }
    footer {
      width: 100%;
      padding: 10px;
      /* top: 0; */
      /* background-color: aliceblue; */
      /* margin-top: 0; */
      position: relative;
    }
     footer .links a {
      font-size: 12px;
      padding: 5px;
      bottom: 10px;
     }

     footer .medsos {
      transform: scale(0.7);
      padding: 15px 10px;
     }


}


/* clear fix---> Berfungsi untuk mengatasi float */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  zoom: 1;
}
